label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }
 header {
    justify-content: space-between;
    width:100%;
    display: flex;
    background-color: yellow;
  }
  Footer {
    background-color: yellow ;
    width:100%;
    justify-content: space-between;
    text-align: center;
  }